body {
    background: linear-gradient(to bottom right, black, rgb(131, 7, 131) )
}


img {
    border-radius: 5px;
    opacity: 0.8;
    filter: grayscale(20%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,1);
    border-color:#333;
    border-radius: 8px; 
    background-color:#d5c5f3; 
}




h1 {
    text-shadow: 0 0 3px rgb(250, 81, 81), 0 0 6px purple;
    color: #000000; 
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

h3 {
    text-shadow: 0 0 3px rgb(57, 234, 247), 0 0 6px rgb(92, 24, 92);
    color: #000000;
    font-size: 18px; 
    font-style: italic; 
    text-decoration: underline;
    text-align: left;
}

p {
    text-shadow: 0 0 3px rgb(105, 190, 105), 0 0 6px rgb(184, 69, 184);
    color: #000000;
    font-size: 18px;
    font-weight: bold; 
    text-decoration: underline; 
    text-align: left;
}